h2{
    text-align: center;
    justify-content: center;
    background-color: rgb(87, 116, 94);
    padding: 12px;
    margin: 0px;
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 40px;
    font-style: normal
}
/*Main Layout Navigation*/
nav li {
    list-style-type: none;
    background-color: #dfe4e0;
    margin: 1rem;
}
nav a {
    text-decoration: none;
    color: rgb(148, 179, 149);
    padding: 25px;
}
nav a:hover{
    color: rgb(93, 156, 106);
    background-color: rgb(220, 236, 223);
}
nav ul{
    display: flex;
    justify-content: center;
    background-color: rgb(87, 116, 94);
    padding: 25px;
    margin: 0;
    flex-wrap: wrap;
}
footer{
    color: #060606;
    background-color: rgb(87, 116, 94);
    padding: 1.5rem;
    text-align: center;
    margin-top: auto;
}
main{
    background-color: white;
}
body{
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h2.logo{
    background-color: rgb(87, 116, 94);
    text-align: center;
    width: 6rem;
    height: 6rem;
    display: grid;
    align-items: center;
    border-radius: 50%;
}
/*Inbedded Grid Above Nav*/
.grid-container{
    display: grid;
    grid-template-rows: 150px; /*one row*/
    grid-template-columns: 1fr 1fr 1fr; /*three columns*/
}
.left{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    align-content: center;
    justify-content: center;
    background-color: rgb(87, 116, 94);
}
.center{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    align-content: center;
    justify-content: center;
    background-color: rgb(87, 116, 94);
}
.right{
    grid-area: links;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    align-content: center;
    justify-content: center;
    background-color: rgb(87, 116, 94);
    display: flex;
    padding: 10px;

}
.right ul {
    list-style-type: none;
    padding-left: 0;
}
.right li {
    display: inline;
    padding: 20px;
}
.right a {
    color: #ffffff;
}
.right a:hover {
    color: beige;
}
img{
    height: 75%;
    width: 75%;
    object-fit: contain;
}
.headshotimage{
    float: right;
    border: 2px #ffffff solid; /** controls border width, color, line style **/
    margin: 1.5rem;
    width: 300px;
    height: 300px;
    
}
/* resume container */
.resume-container{
    border: 2px solid black;
    border-radius: 2rem;
    padding: 20px;
    width: 20px;
}
