body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e7e7ea;
}
h1 {
    color:#353432;
    background-color: #e0c9eb;
    padding: 1.5rem;
    text-transform: uppercase;
    border: solid #b881c5 2px;
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
}
h2 {
    color:#353432;
    padding: .5rem;
}
p {
    margin: 1.5rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    line-height: 1.5rem;
    font-family: 'Courier New', Courier, monospace;

}
img {
    float: right;
    border: 2px #ffffff solid; /** controls border width, color, line style **/
    margin: 1.5rem;
    max-width: 100%;

}
a:link{
    color:darkblue;
    text-decoration: none;
}
a:visited{
    color: #67a4ff;
}
a:hover{
    color: #f41b58;
    text-decoration: underline;
}
a:active{
    color: #aa76ea;

}