h2{
    text-align: center;
    justify-content: center;
    background-color: rgb(87, 116, 94);
    padding: 12px;
    margin: 0px;
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 40px;
    font-style: normal;
    color: white;
}
/*Main Layout Navigation*/
nav li {
    list-style-type: none;
    background-color: #dfe4e0;
    margin: 1rem;
}
nav a {
    text-decoration: none;
    color: rgb(16, 17, 16);
    padding: 25px;
    border-radius: 35%;
}
nav a:hover{
    color: rgb(93, 156, 106);
    background-color: rgb(220, 236, 223);
    border-radius: 50%;
}
nav ul{
    display: flex;
    justify-content: center;
    background-color: rgb(87, 116, 94);
    padding: 25px;
    margin: 0;
    flex-wrap: wrap;
}
footer{
    color: white;
    background-color: rgb(87, 116, 94);
    padding: 1.5rem;
    text-align: center;
    margin-top: auto;
}
main{
    background-color: white;
}
body{
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h2.logo{
    background-color: rgb(87, 116, 94);
    text-align: center;
    width: 6rem;
    height: 6rem;
    display: grid;
    align-items: center;
    border-radius: 50%;
}
/*Inbedded Grid Above Nav*/
.grid-container{
    display: grid;
    grid-template-rows: 150px; /*one row*/
    grid-template-columns: 1fr 1fr 1fr; /*three columns*/
}
.left{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    align-content: center;
    justify-content: center;
    background-color: rgb(87, 116, 94);
}
.center{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    align-content: center;
    justify-content: center;
    background-color: rgb(87, 116, 94);
}
#mia {
    text-decoration: none;
    color: white;
}
.right{
    grid-area: links;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    align-content: center;
    justify-content: center;
    background-color: rgb(87, 116, 94);
    display: flex;
    padding: 10px;

}
.right ul {
    list-style-type: none;
    padding-left: 0;
}
.right li {
    display: inline;
    padding: 20px;
}
.right a {
    color: #ffffff;
}
.right a:hover {
    color: beige;
}
img{
    height: 75%;
    width: 75%;
    object-fit: contain;
}
.headshotimage{
    float: right;
    border: 2px rgb(87, 116, 94) solid; /** controls border width, color, line style **/
    margin: 1.5rem;
    width: 300px;
    height: 200px;
    padding: 1rem;
    
}
.headshotimage2{
   border-radius: 50%;
   width: 35%;
   margin: auto;
   display: flex;

}
.figurecaption{
    border-radius: 50%;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: right;

}

/* Main Page - Layout Page */

.layoutparagraph{
   margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
   
}
.h2layout{
     text-align: center;
    justify-content: center;
    background-color: rgb(87, 116, 94);
    padding: 12px;
    margin: 0px;
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 40px;
    font-style: normal;
}
/*Resume wrapper*/

.wrapperresume{
    border: 0px black solid;   /* Shows the edge of our div */
    margin: 0 auto;              /* Centers element horizontally */
    max-width: 60rem; 
    justify-content: center;
}
#resumearticle{
    background-color: white;
    border: 1px solid #615c5c;
    padding: 1.3rem;
    margin: .5rem;
    margin-bottom: 1.5rem;
    border-radius: .8rem;
    width: 60rem;
    /* float: left; */
    display: inline-block;
}
/* Portfolio Wrapper*/

.wrapper{
    display: grid;
    grid-template-rows: 1fr min-content min-content min-content; 
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    /* grid-template-columns: 30vw 30vw 30vw; */
    gap: 2rem;
}

.wrapper > h1 {
    /* grid-row: 1/2; */
    grid-column: 1/5;
    border: solid white;
    border-width: .5rem;
    text-align: center;
    justify-content: center;
    background-color: white;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
article{
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgb(87, 116, 94);
    transition: transform 0.3s ease;
}
/* #heading1portfolio{
    text-align: left;
} */

/* Main Page Image CSS */

.mainpageimage{
    display: flex;
    object-fit: fill;
    width: 100%;
    height:fit-content;
}

/*Contact Page CSS */

.pcontact{
    justify-content: center;
    align-content: center;
    text-align: center;
}
.addresscontact{
    justify-content: center;
    align-content: center;
    text-align: center;
}