/*<meta />*/

/* MadCap-Branding applanguage:Templates/Projects/Online & Print/Side Navigation and PDF/ */

:root
{
	--Light: #DADEE1;
	--Lightest: #FFFFFF;
	--Medium: #A4AAAE;
	--HeroImage: url('../Images/Hero-Image.png');
	--LogoImage: url('../../Resources/Images/madcapflarelogo.png');
	--Primary: #5879bc;
	--Secondary: #83a1d6;
	--Darkest: #000000;
	--Dark: #45494C;
	--FontFamily: sans-serif;
	--LogoImagePrint: url('../../Resources/Images/madcapflarelogo.png');
}

